@model ToolManage.Models.Authority
@{

}
@using ToolManage.Helper

<link href="~/Content/authority.css" rel="stylesheet" />

<div class="modal fade " id="changeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("SaveChange", "Authority", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id);
                @Html.HiddenFor(model => model.Remark);
                @Html.HiddenFor(model => model.State);
                @Html.Hidden("workcellId", (int)ViewBag.workcellId);
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">@Model.Name</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="tips" class="col-sm-2 control-label">权限名称</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(model => model.Name, new { @class = "form-control", placeholder = "请输入权限名称" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">权限选择</label>
                        <div class="col-sm-6">
                            @Html.DropDownList("选择权限", (SelectList)ViewBag.AllAuthoritys, new { @class = "form-control", @id = "selectAuthority" })
                        </div>
                        <button onclick="addAuthority()" type="button" class="btn btn-md btn-primary">添加</button>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">权限列表</label>
                        <div class="col-sm-10">
                            <div style="display:none">
                                <input name="Data" value="@Model.Data" />
                            </div>
                            <ul class="authorites" id="allAuthorites">
                                @foreach (var authorityType in Model.AllAuthority())
                                {
                                    <li id="@("auth"+(int)authorityType)">
                                        <span class="text-muted">@authorityType.ToMyString()</span>
                                        <button onclick="del(@("\"" + (int)authorityType + "\"" ))" type="button" class="btn btn-xs btn-danger">删除</button>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>

            }
        </div>
    </div>
</div>

<div class="modal fade" id="confirm" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">提示:</h4>
            </div>
            <div class="modal-body">
                确认删除该权限吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button onclick="confirmDelete()" type="button" id="confirmBtn" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="add clearfix">
    <button class="btn bg-primary col-md-1" onclick="addNew()" data-toggle="modal" data-target="#changeModal">
        新增权限
    </button>
    <div class="col-md-2 col-md-offset-8">
        @Html.DropDownList("选择部门", (SelectList)ViewBag.Workcells, new { @class = "form-control", onchange = "selectWorkcell()", id = "selectWorkcell" })
    </div>
</div>
<div class="wrap">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        @foreach (ToolManage.Models.Authority authority in ViewBag.Authoritys)
        {
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="@("heading"+authority.Id)">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#@("collapse"+authority.Id)" aria-expanded="false" aria-controls="@("collapse"+authority.Id)">
                            @authority.Name
                        </a>
                        @Html.ActionLink("修改权限", "Index", new { authorityId = authority.Id }, new { role = "button", @class = "btn btn-default", })
                        <button onclick="delOne(@authority.Id)" data-toggle="modal" data-target="#confirm" class="btn btn-danger">删除权限</button>
                    </h4>
                </div>
                <div id="@("collapse"+authority.Id)" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="@("heading"+authority.Id)">
                    <div class="panel-body">
                        <ul>
                            @foreach (var authorityType in authority.AllAuthority())
                            {
                                <li>@authorityType.ToMyString()</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if (ViewBag.ShowModal)
{
    <script>
        window.onload = function () {
            $('#changeModal').modal('show')
        }
    </script>
}

<script>
    document.getElementById("authority").className = "active";

    var selectedAuthority = document.getElementsByName("Data")[0];
    var deleteId = 0;

    delOne = id => {
        this.deleteId = id;
    }

    confirmDelete = () => {
        window.location.href = "Authority/Delete?authorityId=" + this.deleteId;
    }

    addAuthority = () => {
        var index = document.getElementById("selectAuthority").selectedIndex;
        var option = document.getElementById("selectAuthority").options[index];
        if (document.getElementById('auth'+option.value) != null) {
            return;
        }
        selectedAuthority.value |= (1 << option.value);
        var all = document.getElementById("allAuthorites");
        all.innerHTML = all.innerHTML + "<li id='auth" + option.value + "'><span class='text-muted'>" + option.text + "</span><button onclick='del(\"" + option.value + "\")' class='btn btn-xs btn-danger' type='button'>删除</button></li>"
        document.getElementById("selectAuthority").options.remove(index);
    }

    selectWorkcell = () => {
        var index = document.getElementById("selectWorkcell").selectedIndex;
        var id = document.getElementById("selectWorkcell").options[index].value;
        window.location.href = "Authority?workcellId=" + id;
    }

    addNew = () => {
        selectedAuthority.value = 0;
        document.getElementById("Id").value = -1;
        document.getElementById("myModalLabel").innerHTML = "新建权限"
        document.getElementById("allAuthorites").innerHTML = "";
        document.getElementById("Name").value = "";
    }

    del = id => {
        var del = document.getElementById('auth' + id);
        document.getElementById("selectAuthority").options.add(new Option(del.firstElementChild.innerText, id));
        document.getElementById('auth' + id).remove();
        selectedAuthority.value &= (~(1 << id));
    }
</script>