@model ToolManage.Models.Account
@{
    ViewBag.Title = "Index";
    Layout = "";
}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>TMS</title>

    <!-- Bootstrap -->
    <link href="../Content/bootstrap.min.css" rel="stylesheet">
    <!--内部样式-->
    <link href="../Content/login.css" rel="stylesheet" />
</head>


<body>
    <div class="root">
        <div class="container-fluid">
            <div class="LoginTop">
                <h1>捷普工具夹系统</h1>
                <button class="btn btn-info">更多信息</button>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <h4 class="text-center">用户登录</h4>
                    <hr />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="exampleInputEmail1">用户名</label>
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "用户名" } })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">密码</label>
                            @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control", placeholder = "密码", type = "password" } })
                        </div>
                        @Html.ValidationSummary(true, "", htmlAttributes: new { })
                        <button type="submit" class="btn btn-primary" style="display: block;margin: 0 auto;">Submit</button>
                    }
                </div>
                <div class="col-md-5"></div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>

</html>