@using ToolManage.Models;
@using ToolManage.Controllers;
<link href="~/Content/scrapApproval.css" rel="stylesheet" />

<div class="modal fade" id="repaireModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">申请信息</h4>
            </div>
            <div class="modal-body table-responsive">
                <table id="data" class="table table-hover table-striped">
                </table>
                <div class="reply">
                    @using (Html.BeginForm("ApprovalConfirm", "Scrap", FormMethod.Post, new { @class = "form-inline", id = "ApprovalConfirmForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <input id="DocId" name="DocId" style="display:none" />
                        <input id="IsPass" name="IsPass" style="display:none" />
                        <!--<textarea class="form-control" placeholder="报废回复备注"></textarea>-->
                        <button onclick="submit(false)" class="btn btn-danger" type="button">审核拒绝</button>
                        <button onclick="submit(true)" class="btn btn-primary" type="button">审核通过</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title">
    <h4>申请列表</h4>
</div>

@foreach (ScrapApproval item in ViewBag.Data)
{
    <div class="order clearfix">
        <div>
            <span>申请批次:</span>202002A
        </div>
        <ul>
            <li>
                <span>报表名称:</span>@item.ScrapDoc.Name
            </li>
            <li>
                <span>审核人:</span>@item.ApplicationName
            </li>
            <li>
                <span>创建日期:</span>@item.ScrapDoc.CreateDate
            </li>
            <li>
                <span>停留时间:</span>30天
            </li>
            <li>
                <span>状态:</span>@item.ScrapDoc.StateString
            </li>
        </ul>
        <button class="btn" onclick="approval(@(item.ScrapDoc.Id))" data-toggle="modal" data-target="#repaireModal">立即处理</button>
    </div>
}

<script>
    $(() => {
        $("#scrapApproval").attr('class', 'active');

        approval = id => {
            $("#DocId").val(id);
            $.getJSON("/Scrap/ScrapApplication?id=" + id, json => {
                $("#data").html(
                    "<tr>" +
                    "<th>夹具代码</th>" +
                    "<th>夹具名称</th>" +
                    "<th>所属大类</th>" +
                    "<th>申请时间</th>" +
                    "<th>申请人</th>" +
                    "<th>报废原因</th>" +
                    "</tr>");

                for (var index = 0; index < json.length; index++) {
                    $("#data").html($("#data").html() +
                        "<tr>" +
                        "<th>" + json[index].Code + "</th>" +
                        "<th>" + json[index].Name + "</th>" +
                        "<th>" + json[index].Family + "</th>" +
                        "<th>" + json[index].Date + "</th>" +
                        "<th>" + json[index].ApplicationName + "</th>" +
                        "<th>" + json[index].Reason + "</th>" +
                        "</tr>");
                }
            })
        }

        submit = pass => {
            $("#IsPass").val(pass);
            $("#ApprovalConfirmForm").submit();
        }
    })
</script>