@using ToolManage.Controllers
<link href="~/Content/scrapDocDetail.css" rel="stylesheet" />
<div class="title">
    <h4>报废详情</h4>
</div>
<div class="border table-responsive">
    @Html.ActionLink("返回", "Index", new { }, new { @class = "btn btn-primary" })
    <table class="table table-striped">
        <tr>
            <th>夹具代码</th>
            <th>夹具名称</th>
            <th>使用次数</th>
            <th>申请时间</th>
        </tr>
        @foreach (ScrapDetail item in ViewBag.Data)
        {
            <tr>
                <td>@Html.ActionLink(item.Entity.Code, "EntityDetail", "Tool", new { id = item.Entity.Id }, new { })</td>
                <td>@item.Def.Name</td>
                <td>@item.Entity.UsedCount</td>
                <td>@item.Application.Date</td>
            </tr>
        }
    </table>
    <div class="apply">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-inline" }))
        {
            @Html.AntiForgeryToken();
            <input id="docId" name="docId" value="@(ViewBag.Id)" />
            <!--<textarea class="form-control" placeholder="申请备注"></textarea>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addDestroy">新增报废</button> -->
            <button type="submit" class="btn btn-primary">提交审核</button>
        }
    </div>
</div>