@model ToolManage.Models.ToolDef
@using ToolManage.Controllers
@using ToolManage.Models
@{

}
<link href="~/Content/toolBorrowDetail.css" rel="stylesheet" />

<div class="title">
    <h4>夹具详情</h4>
</div>
<div class="toolInfo border row">
    <p>@Html.ActionLink("返回", "Borrow", new { }, new { @class = "btn btn-primary" })</p>
    <div class="col-md-7">
        <div class="mustInfo">
            <div class="row">
                <h4 class="col-md-6">@Model.Code</h4>
                <h4 class="col-md-6">@Model.Name</h4>
            </div>
            <p>
                <span>F:&nbsp;@ToolController.GetInner(Model.FamilyId)</span>
                <span>M:&nbsp;@Model.Model</span>
            </p>
            <p>
                F:&nbsp;@Model.PartNo
            </p>
            <p class="text-muted">(必要信息)</p>
        </div>
        <div class="otherInfo">
            <p>用途:&nbsp;@ToolController.GetInner(Model.UsedForId)</p>
            <p>UPL:&nbsp;@(Model.UPL)(个)</p>
            <p>PMPeriod:&nbsp;@(Model.PMPeriod)(天)</p>
            <p class="text-muted">(补充信息)</p>
        </div>
    </div>
    <div class="col-md-5">
        <div class="imgArea">
            <img src="@Url.Action("Img",new { id = Model.Id})" />
        </div>
    </div>
    <p class="text-muted">(类别信息)</p>
</div>
<div class="panel-group border" id="accordion">
    @foreach (var toolEntity in Model.ToolEntity.Where(i => i.State != "9"))
    {
        <div class="panel panel-default">
            <div class="panel-heading" id="@("heading" + toolEntity.Id)">
                <h4 class="panel-title clearfix">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="@("#Collapse" + toolEntity.Id)">
                        @toolEntity.Code
                    </a>
                    <button class="btn btn-default">@toolEntity.StateString</button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#repairModal">报修</button>
                    <button onclick="borrow(@(toolEntity.Id),@("'"+toolEntity.Code+"'"))" class="@("btn btn-primary" + (toolEntity.State == "0" ? "" : " disabled"))" data-toggle="modal" data-target="#borrowModal">借用</button>
                </h4>
            </div>
            <div id="@("Collapse" + toolEntity.Id)" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><span>使用次数:</span>@toolEntity.UsedCount</li>
                        <li><span>检修次数:</span>@toolEntity.Maintenance.Count</li>
                        <li><span>维修次数:</span>@toolEntity.RepairApplication.Where(i => i.State == "1").Count()</li>
                        <li><span>入库订单:</span>@toolEntity.BillNo</li>
                        <li><span>记录时间:</span>@toolEntity.RegDate</li>
                        <li><span>上次借用时间:</span>@(toolEntity.ConsumeReturn.Count==0? "无借用记录": toolEntity.ConsumeReturn.OrderBy(i => i.Id).Last().Date.ToString())</li>
                        @if (toolEntity.State == "1")
                        {
                            <li><span>借用人:</span>@(toolEntity.ConsumeReturn.OrderBy(i => i.Id)?.Last().Account.Name)</li>
                            <li><span>借用地点:</span>@(toolEntity.ConsumeReturn.OrderBy(i => i.Id)?.Last().BorrowLocation)</li>
                        }
                        <li><span>所在库位:</span>@toolEntity.Location</li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
<!--Borrow Modal-->
<div class="modal fade" id="borrowModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Borrow", "Tool", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">申请借用</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <!--根据用户信息会自动填写-->
                        <div class="form-group">
                            <label for="toolname" class="col-sm-2 control-label">借用器件</label>
                            <div class="col-sm-10">
                                <input style="display:none" name="ToolEntityId" id="ToolEntityId" />
                                <input class="form-control" id="ToolEntityCode" value="EF0789-1" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">借用人</label>
                            <div class="col-sm-10">
                                <input style="display:none" name="AccountId" value="@(((Account)Session["account"]).Id)" />
                                <input class="form-control" id="username" value="@(((Account)Session["account"]).Name)" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productLine" class="col-sm-2 control-label">借用地点</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="BorrowLocation" id="BorrowLocation">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="return" class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="Remark" id="Remark" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            }
        </div>
    </div>
</div>
<!--Repair Modal-->
<div class="modal fade" id="repairModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">申请报修</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="post">
                    <!--根据用户信息会自动填写-->
                    <div class="form-group">
                        <label for="toolname" class="col-sm-2 control-label">报修器件</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="toolname" value="EF0789-1" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">报修人</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="username" value="赵大锤" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="reason" class="col-sm-2 control-label">报修原因</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" placeholder="报修原因"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(() => {
        borrow = (id, code) => {
            $('#ToolEntityId').val(id)
            $('#ToolEntityCode').val(code)
        }
    })
</script>