@model ToolManage.Models.ToolDef
@using ToolManage.Controllers
@{
}
<link href="~/Content/toolDetail.css" rel="stylesheet" />
<div class="title">
    <h4>夹具详情</h4>
</div>
<div class="content">
    <div class="toolInfo border row">
        <p>@Html.ActionLink("返回首页", "Index", "Tool", new { @class = "btn btn-primary" })</p>
        <div class="col-md-7">
            <div class="mustInfo">
                <div class="row">
                    <h4 class="col-md-6">@Model.Code</h4>
                    <h4 class="col-md-6">@Model.Name</h4>
                </div>
                <p>
                    <span>F:&nbsp;@ToolController.GetInner(Model.FamilyId)</span>
                    <span>M:&nbsp;@Model.Model</span>
                </p>
                <p>
                    P:&nbsp;@Model.PartNo
                </p>
                <p class="text-muted">(必要信息)</p>
            </div>
            <div class="otherInfo">
                <p>用途:&nbsp;@ToolController.GetInner(Model.UsedForId)</p>
                <p>UPL:&nbsp;@(Model.UPL)(个)</p>
                <p>PMPeriod:&nbsp;@(Model.PMPeriod)(天)</p>
                <p class="text-muted">(补充信息)</p>
            </div>
        </div>
        <div class="col-md-5">
            <div class="imgArea">
                <img src="@(Html.Raw(Model.Picture))" />
            </div>
        </div>
        <p class="text-muted">(类别信息)</p>
    </div>
    <div class="toolList">
        <button onclick="change(0,'','','','')" class="btn btn-primary clearfix" data-toggle="modal" data-target="#myModal">添加夹具</button>
        <table class="table table-hover table-striped">
            <tr>
                <th>Code</th>
                <th>柜号</th>
                <th>创建日期</th>
                <th>入库单</th>
                <th>操作</th>
            </tr>
            @foreach (ToolManage.Models.ToolEntity toolEntity in ViewBag.Data)
            {
                <tr>
                    <td>@toolEntity.Code</td>
                    <td>@toolEntity.Location</td>
                    <td>@toolEntity.RegDate</td>
                    <td>@toolEntity.BillNo</td>
                    <td>
                        <a onclick="deletel(@(toolEntity.Id))" data-toggle="modal" data-target="#deleteModal">删除 |</a>
                        <a onclick="change(@(toolEntity.Id),@("'"+toolEntity.Code+"'"),@("'"+toolEntity.Location+"'")
                            ,@("'"+toolEntity.BillNo.Trim()+"'"))" data-toggle="modal" data-target="#myModal">修改</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<!--model新增夹具-->
<div class="modal fade" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("ChangeEntity", "Tool",FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input style="display:none" id="ToolDefId" name="ToolDefId" value="@(Model.Id)" />
                <input style="display:none" id="Id" name="Id" value="0" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">夹具信息</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="code" class="col-sm-2 control-label">夹具Code</label>
                            <div class="col-sm-10">
                                <input type="text" name="Code" id="Code" class="form-control" placeholder="Code" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="position" class="col-sm-2 control-label">夹具位置</label>
                            <div class="col-sm-10">
                                <input type="text" name="Location" id="Location" class="form-control" placeholder="夹具位置" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="toolIn" class="col-sm-2 control-label">入库单</label>
                            <div class="col-sm-10">
                                <input type="text" name="BillNo" id="BillNo" class="form-control" placeholder="入库单" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            }
        </div>
    </div>
</div>

<!--model 删除提示-->
<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">夹具信息</h4>
            </div>
            <div class="modal-body">
                确认删除该夹具吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button onclick="jump()" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(() => {
        change = (id, code, location, billNo) => {
            $('#Id').val(id);
            $('#Code').val(code);
            $('#Location').val(location);
            $('#BillNo').val(billNo);
        }
        deleteId = 0;
        deletel = (id) => {
            deleteId = id;
        }
        jump = () => {
            window.location.href = "Delete/" + deleteId;
        }
    })
</script>