@model ToolManage.Models.ToolEntity
@using ToolManage.Controllers
<link href="~/Content/entityDetail.css" rel="stylesheet" />

<div class="title">
    <h4>@Model.Code</h4>
</div>
<div class="border table-responsive">
    @Html.ActionLink("返回上一页", "Detail", "Tool", new { id = Model.ToolDefId }, new { @class = "btn btn-primary" })
    <table class="table table-striped">
        <tr>
            <th>操作类型</th>
            <th>操作时间</th>
            <th>使用人</th>
            <th>操作</th>
        </tr>
        @foreach (EntityDetailData item in ViewBag.Data)
        {
            <tr>
                <td>@item.Type</td>
                <td>@item.Date</td>
                <td>@item.Name</td>
                <td>
                    <a data-toggle="modal" data-target="#deleteModal">删除</a>
                </td>
            </tr>
        }
    </table>
</div>