@using ToolManage.Models;
@using ToolManage.Helper;
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>TMS</title>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/layout.css" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>

@if (Session["account"] == null)
{
    Html.Action("Index", "Login");
}

@{
    var Account = (ToolManage.Models.Account)Session["account"];
    Authority authority = (ToolManage.Models.Authority)Session["authority"];
}

<body>
    <div class="root">
        <div class="side-bar">
            <div class="logo">TMS</div>
            <ul class="nav nav-pills nav-stacked">
                @if (authority.HasAuthority(AuthorityType.Authority))
                {
                    <li id="authority">@Html.ActionLink("权限管理", "Index", "Authority")</li>
                }
                @if (authority.HasAuthority(AuthorityType.User))
                {
                    <li id="user">@Html.ActionLink("用户管理", "Index", "User")</li>
                }
                @if (authority.HasAuthority(AuthorityType.Workcell))
                {
                    <li id="department">@Html.ActionLink("部门管理", "Index", "Department")</li>
                }
                @if (authority.HasAuthority(AuthorityType.ToolList))
                {
                    <li id="toolList">@Html.ActionLink("夹具列表", "Index", "Tool")</li>
                }
                @if (authority.HasAuthority(AuthorityType.ToolInput))
                {
                    <li id="toolCreate">@Html.ActionLink("夹具录入", "Create", "Tool")</li>
                }
                @if (authority.HasAuthority(AuthorityType.ToolBorrow))
                {
                    <li id="toolBorrow">@Html.ActionLink("夹具借用", "Borrow", "Tool")</li>
                }
                @if (authority.HasAuthority(AuthorityType.RepairManage))
                {
                    <li id="toolRepair">@Html.ActionLink("报修管理", "Repair", "Tool")</li>
                }
                @if (authority.HasAuthority(AuthorityType.RepairList))
                {
                    <li id="repairList">@Html.ActionLink("维修列表", "Index", "Repair")</li>
                }
                @if (authority.HasAuthority(AuthorityType.MaintanceList))
                {
                    <li id="maintanceList">@Html.ActionLink("检修列表", "Index", "Maintance")</li>
                }
                @if (authority.HasAuthority(AuthorityType.RepairManage))
                {
                    <li id="maintanceManage">@Html.ActionLink("检修管理", "Type", "Maintance")</li>
                }
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">@(Account.Name) <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("退出登录", "LogOut", "Login")</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="content">
            <nav class="header navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">捷普-工夹具全寿命智能管理系统</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">@(Account.Name) <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("退出登录", "LogOut", "Login")</li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
            @RenderBody()
        </div>
    </div>

</body>

</html>
