@using ToolManage.Models;
@using ToolManage.Helper;
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>TMS</title>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/layout.css" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>

@if (Session["account"] == null)
{
    Html.Action("Index", "Login");
}

@{
    var Account = (ToolManage.Models.Account)Session["account"];
    Authority authority = (ToolManage.Models.Authority)Session["authority"];
}

<body>
    <div class="root">
        <div class="side-bar">
            <div class="logo">
                <img src="~/Content/logo.png" style="height:80%; " />
                <span class="glyphicon glyphicon-th" id="openNav"></span>
            </div>
            <ul class="nav nav-pills nav-stacked" id="nav">
                @if (authority.HasAuthority(AuthorityType.Authority))
                {
                    <li id="authority">@Html.ActionLink(AuthorityType.Authority.ToMyString(), "Index", "Authority")</li>
                }
                @if (authority.HasAuthority(AuthorityType.User))
                {
                    <li id="user">@Html.ActionLink(AuthorityType.User.ToMyString(), "Index", "User")</li>
                }
                @if (authority.HasAuthority(AuthorityType.Workcell))
                {
                    <li id="department">@Html.ActionLink(AuthorityType.Workcell.ToMyString(), "Index", "Department")</li>
                }
                @if (authority.HasAuthority(AuthorityType.ToolList))
                {
                    <li id="toolList">@Html.ActionLink(AuthorityType.ToolList.ToMyString(), "Index", "Tool")</li>
                }
                @if (authority.HasAuthority(AuthorityType.ToolInput))
                {
                    <li id="toolCreate">@Html.ActionLink(AuthorityType.ToolInput.ToMyString(), "Create", "Tool")</li>
                }
                @if (authority.HasAuthority(AuthorityType.ToolBorrow))
                {
                    <li id="toolBorrow">@Html.ActionLink(AuthorityType.ToolBorrow.ToMyString(), "Borrow", "Tool")</li>
                }
                @if (authority.HasAuthority(AuthorityType.RepairManage))
                {
                    <li id="toolRepair">@Html.ActionLink(AuthorityType.RepairManage.ToMyString(), "Repair", "Tool")</li>
                }
                @if (authority.HasAuthority(AuthorityType.RepairList))
                {
                    <li id="repairList">@Html.ActionLink(AuthorityType.RepairList.ToMyString(), "Index", "Repair")</li>
                }
                @if (authority.HasAuthority(AuthorityType.MaintanceList))
                {
                    <li id="maintanceList">@Html.ActionLink(AuthorityType.MaintanceList.ToMyString(), "Index", "Maintance")</li>
                }
                @if (authority.HasAuthority(AuthorityType.MaintanceManage))
                {
                    <li id="maintanceManage">@Html.ActionLink(AuthorityType.MaintanceManage.ToMyString(), "Type", "Maintance")</li>
                }
                @if (authority.HasAuthority(AuthorityType.ScrapFirstTrail))
                {
                    <li id="FirstTrail">@Html.ActionLink(AuthorityType.ScrapFirstTrail.ToMyString(), "FirstTrail", "Scrap")</li>
                }
                @if (authority.HasAuthority(AuthorityType.ScrapFinalTrail))
                {
                    <li id="FinalTrail">@Html.ActionLink(AuthorityType.ScrapFinalTrail.ToMyString(), "FinalTrail", "Scrap")</li>
                }
                @if (authority.HasAuthority(AuthorityType.RepairChart))
                {
                    <li id="RepairChart">@Html.ActionLink(AuthorityType.RepairChart.ToMyString(), "RepairChart", "Chart")</li>
                }
                @if (authority.HasAuthority(AuthorityType.ToolChart))
                {
                    <li id="ToolChart">@Html.ActionLink(AuthorityType.ToolChart.ToMyString(), "ToolChart", "Chart")</li>
                }
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">@(Account.Name) <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("退出登录", "LogOut", "Login")</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="content">
            <nav class="header navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">捷普-工夹具全寿命智能管理系统</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">@(Account.Name) <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("退出登录", "LogOut", "Login")</li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
            @RenderBody()
        </div>
    </div>

    <script>
        flag = true;
        document.getElementById("openNav").onclick = function () {
            if (flag) {
                document.getElementById("nav").style.display = 'block';
                flag = false;
            } else {
                document.getElementById("nav").style.display = '';
                flag = true;
            }
        }
    </script>
</body>

</html>
