@{
}
@using ToolManage.Controllers
<div class="title">
    <h4>维修列表</h4>
</div>
<div class="border clearfix table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Code</th>
            <th>柜号</th>
            <th>创建日期</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        @foreach (RepairView repairView in ViewBag.Data)
        {
            <tr>
                <td>@repairView.Code</td>
                <td>@repairView.Location</td>
                <td>@repairView.Date</td>
                <td>@repairView.Remark</td>
                <td>
                    <a onclick="finish(@(repairView.Id),true)" data-toggle="modal" data-target="#repairModel">完成维修</a>
                    <span>|</span>
                    <a onclick="finish(@(repairView.Id),false)" data-toggle="modal" data-target="#destoryModal">报废</a>
                </td>
            </tr>
        }
    </table>
    <nav>
        <form style="display:none;" id="search">
            <input id="NowPage" name="NowPage" value="@ViewBag.NowPage" />
        </form>
        <ul class="pagination">
            @if (ViewBag.NowPage == 0)
            {
                <li class="disabled">
                    <a aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="#" onclick="prePage()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = ViewBag.NowPage - 3; i < ViewBag.NowPage; i++)
            {
                if (i < 0)
                {
                    continue;
                }
                <li><a onclick="jump(@i)" href="#">@(i+1) <span class="sr-only">(current)</span></a></li>
            }

            <li class="active"><a href="#">@(ViewBag.NowPage+1) <span class="sr-only">(current)</span></a></li>
            @for (int i = ViewBag.NowPage + 1; i < ViewBag.NowPage + 4; i++)
            {
                if (i > ViewBag.MaxPage)
                {
                    break;
                }
                <li><a onclick="jump(@i)" href="#">@(i+1) <span class="sr-only">(current)</span></a></li>
            }

            @if (ViewBag.NowPage == ViewBag.MaxPage)
            {
                <li class="disabled">
                    <a aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="#" onclick="prePage()" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>

<div class="modal fade" id="repairModel" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("ConfirmRepair", "Repair", FormMethod.Post, new { id = "confirmRepair" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">维修确认</h4>
                </div>
                <div class="modal-body">
                    <input style="display:none" name="Id" id="Id" value="-1" />
                    <input style="display:none" name="state" id="state" />
                    确定维修完成？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            }
        </div>
    </div>
</div>


<!--model 报废提示-->
<div class="modal fade" id="destoryModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">报废夹具</h4>
            </div>
            <div class="modal-body">
                确认报废该夹具吗？
            </div>
            <div class="modal-footer">
                <button onclick="sub()" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(() => {
        $('#repairList').attr('class', 'active')

        jump = page => {
            $("#NowPage").val(page);
            $("#search").submit();
        }

        prePage = () => {
            jump($("#NowPage").val() - 1);
        }

        nextPage = () => {
            jump($("#NowPage").val() + 1);
        }

        finish = (id, state) => {
            $("#Id").val(id);
            $("#state").val(state);
        }

        sub = () => {
            $("#confirmRepair").submit();
        }
    })
</script>